useDynLib(jaspResults, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
import(Rcpp)
importFrom(R6, R6Class)
S3method("[[", "jaspResultsR")
S3method("[[", "jaspTableR")
S3method("[[", "jaspContainerR")
S3method("[[<-", "jaspResultsR")
S3method("[[<-", "jaspTableR")
S3method("[[<-", "jaspContainerR")
S3method("print", "jaspResultsR")
S3method("print", "jaspObjR")
export(initJaspResults)