# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generate resource headers
*.R.h
*.js.h

# QT files
*.pro.user
*.pro.user.*

# Annoying OSX files
*.DS_Store
Thumbs.db

# R
JASP-Engine/R-*
.Rapp.history

# .exe
*.exe

# diff ORIG files.
*.orig

# .nsi
Tools/deleteFiles*.nsi
Tools/includeFiles*.nsi
JASP.pro.user.b601785
.Rproj.user

#Extracted testfiles
Resources/TestFiles

*.autosave
JASP-Engine/jaspBase/R/.Rhistory
JASP-Tests/.Rhistory

flatpak-builder-folder/

.RData
.Rhistory
.vscode
