[submodule "Modules/Common/jaspDescriptives"]
	path = Modules/Common/jaspDescriptives
	url = https://github.com/jasp-stats/jaspDescriptives
	branch = master
[submodule "Modules/Common/jaspTTests"]
	path = Modules/Common/jaspTTests
	url = https://github.com/jasp-stats/jaspTTests
	branch = master
[submodule "Modules/Common/jaspAnova"]
	path = Modules/Common/jaspAnova
	url = https://github.com/jasp-stats/jaspAnova
	branch = master
[submodule "Modules/Common/jaspRegression"]
	path = Modules/Common/jaspRegression
	url = https://github.com/jasp-stats/jaspRegression
	branch = master
[submodule "Modules/Common/jaspFrequencies"]
	path = Modules/Common/jaspFrequencies
	url = https://github.com/jasp-stats/jaspFrequencies
	branch = master
[submodule "Modules/Common/jaspFactor"]
	path = Modules/Common/jaspFactor
	url = https://github.com/jasp-stats/jaspFactor
	branch = master
[submodule "Modules/Extra/jaspAudit"]
	path = Modules/Extra/jaspAudit
	url = https://github.com/jasp-stats/jaspAudit
	branch = master
[submodule "Modules/Extra/jaspBain"]
	path = Modules/Extra/jaspBain
	url = https://github.com/jasp-stats/jaspBain
	branch = master
[submodule "Modules/Extra/jaspNetwork"]
	path = Modules/Extra/jaspNetwork
	url = https://github.com/jasp-stats/jaspNetwork
	branch = master
[submodule "Modules/Extra/jaspMachineLearning"]
	path = Modules/Extra/jaspMachineLearning
	url = https://github.com/jasp-stats/jaspMachineLearning
	branch = master
[submodule "Modules/Extra/jaspMetaAnalysis"]
	path = Modules/Extra/jaspMetaAnalysis
	url = https://github.com/jasp-stats/jaspMetaAnalysis
	branch = master
[submodule "Modules/Extra/jaspSem"]
	path = Modules/Extra/jaspSem
	url = https://github.com/jasp-stats/jaspSem
	branch = master
[submodule "Modules/Extra/jaspSummaryStatistics"]
	path = Modules/Extra/jaspSummaryStatistics
	url = https://github.com/jasp-stats/jaspSummaryStatistics
	branch = master
[submodule "Modules/Common/jaspMixedModels"]
	path = Modules/Common/jaspMixedModels
	url = https://github.com/jasp-stats/jaspMixedModels
	branch = master
[submodule "Modules/Extra/jaspDistributions"]
	path = Modules/Extra/jaspDistributions
	url = https://github.com/jasp-stats/jaspDistributions
	branch = master
[submodule "Modules/Extra/jaspEquivalenceTTests"]
	path = Modules/Extra/jaspEquivalenceTTests
	url = https://github.com/jasp-stats/jaspEquivalenceTTests
	branch = master
[submodule "Modules/Extra/jaspJags"]
	path = Modules/Extra/jaspJags
	url = https://github.com/jasp-stats/jaspJags
	branch = master
[submodule "Modules/Extra/jaspReliability"]
	path = Modules/Extra/jaspReliability
	url = https://github.com/jasp-stats/jaspReliability
	branch = master
[submodule "Modules/Extra/jaspVisualModeling"]
	path = Modules/Extra/jaspVisualModeling
	url = https://github.com/jasp-stats/jaspVisualModeling
	branch = master
[submodule "Engine/jaspGraphs"]
	path = Engine/jaspGraphs
	url = https://github.com/jasp-stats/jaspGraphs.git
	branch = master
[submodule "Engine/jaspBase"]
	path = Engine/jaspBase
	url = https://github.com/jasp-stats/jaspBase.git
	branch = master
[submodule "Modules/Extra/jaspLearnBayes"]
	path = Modules/Extra/jaspLearnBayes
	url = https://github.com/jasp-stats/jaspLearnBayes
	branch = master
