
body {
        color:            #EEE;
        background-color: #222 ; /*grayLighter*/
}

body.selected .jasp-analysis:not(.selected){
    filter: opacity(0.5);
    background-color: #333 ;
}


.jasp-collapsed {
	background-color:	#404040; /*grayLighter*/
        border:			1px solid #747677  ; /*grayDarker but not really because this is #696969 */
}




tr:nth-child(odd) th,
tr:nth-child(odd) td {

}


tr:nth-child(even) th,
tr:nth-child(even) td {
    background: #555
}

.jasp-analysis.selected {
    color: #EEE;
}

.jasp-analysis.unselected:not(.jasp-menu-selected) {

    background-color: #404040 ;
}

.jasp-analysis.selected:not(.jasp-menu-selected) {

    background-color: #222 ;
}


.chart > g > rect { fill: #666625 }


.jasp-collection-image {
  display:				block;
  background-color:		#000;
}

.jasp-image {
  background-color:		#000;
  border-radius:		2px;
}

.jasp-image-image {
   filter: invert(1);
}

.jasp-image-resizer {

  background-color :  #5F89A7 ;
  border:             1px solid #7C95CB ;
  border-radius :     3px ;
}

.jasp-image-resizable {

  border:			2px solid #5F89A7 ;
  border-radius:	2px ;
}



div.status.running {

    background : url('images/darkTheme/running.gif') no-repeat ;
  visibility: visible ;
}

div.status.waiting {

        background : url('images/darkTheme/waiting.gif') no-repeat ;
  visibility: visible ;
}

div.image-status.running {

        background-image : url('images/darkTheme/running-large.gif') ;
  visibility: visible ;
}

div.image-status.waiting {

        background-image : url('images/darkTheme/waiting-large.png') ;
  visibility: visible ;
}

div.jasp-image-image.no-data {
    background-image:	url('images/darkTheme/empty-plot.png') ;
	background-repeat:	no-repeat;
	background-size:	contain;
}

div.jasp-image-image.no-data.error {
    background-image: linear-gradient(rgba(0,0,0,0.67), rgba(0,0,0,0.67)), url('images/darkTheme/empty-plot.png');
}

.error-state:not(.jasp-analysis), .jasp-analysis.error-state>.jasp-analysis {
  color: darkgray;
}


.fatalError.error-message-box {
  border: 3px double  #faa;
  color:              #faa;
  background:         #400;
}

.stack-trace-arrow {

  background:		center no-repeat url("images/darkTheme/expand.png") ;
  background-size:	70% ;
}


#intro {
  border:		3px dashed #3CAAE7 ;
  border-radius:	10px ;
  color:		#3CAAE7 ;

}


.jasp-resize {
    background: top left no-repeat url(images/darkTheme/resizer.png);
}

.jasp-closer {
    background:			top left no-repeat url(images/darkTheme/closer.png);
    background-size:	16px;
}

.jasp-menu {
  background: center no-repeat url(images/darkTheme/menu-indicator.svg);
  background-size: 70% ;
}

.jasp-collapsed .jasp-menu {
  background:		center no-repeat url(images/darkTheme/expand.png);
  background-size:	70% ;
}


.toolbar-editing {
   border-top:		1px solid #5c5c5c;	/*rgb(205, 205, 205); #CDCDCD gray*/
  border-bottom:	1px solid #5c5c5c;
}

.jasp-menu-selected {
  background-color : #196EA9 ; /* cyan */
}


.jasp-notes {
  border-bottom:		1px solid #5c5c5c;
  border-radius:		0;
  color:			#000;
  filter:			invert(1);
}

.jasp-notes-border {
  border-top:     1px solid #5c5c5c;
}


.jasp-ghost-text {
  color:			#212121;

}

.jasp-progressbar-label {
  color:			#5c5c5c;
}


/* Track */
::-webkit-scrollbar-track {
 background:    #000;
 border-style:  solid;
 border-width:  1px;
 border-color:  #747677
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border: solid 2px transparent;
  box-shadow: inset 0 0 0 10px #444647;
}


::-webkit-scrollbar-thumb:hover {
 box-shadow: inset 0 0 0 10px #4784B2;
}


/* Custom values */
.ql-toolbar.ql-snow {
  /* light theme uses the default value */
  border: 1px solid #5c5c5c;
}
