
body {
        color:            #000;
        background-color: #FFF ; /*grayMuchLighter*/
}

body.selected {
        background-color: #EFEFEF ; /*grayMuchLighter*/
}


body.selected .jasp-analysis:not(.selected){
    filter: opacity(0.75);
}


.jasp-display-item.hidden-collection {
  background-color: rgba(224, 224, 224, 0) ; /*grayLighter*/

}

.jasp-display-item {
  background-color: rgba(224, 224, 224, 0) ; /*grayLighter*/
  border:         1px solid rgba(105, 105, 105, 0) ; /*grayDarker but not really because this is #696969 */
  border-radius:  6px;
}


.jasp-collapsed {
        background-color: rgba(224, 224, 224, 0.5) ; /*grayLighter*/
        border: 1px solid rgba(105, 105, 105, 1) ; /*grayDarker but not really because this is #696969 */
}


.jasp-analysis tbody tr:nth-child(even) th:not(.row-span),
.jasp-analysis tbody tr:nth-child(even) td:not(.row-span) {
	background: rgb(235, 235, 235)
}

.jasp-analysis.selected tbody tr:nth-child(odd) th,
.jasp-analysis.selected tbody tr:nth-child(odd) td {
	background: #FFF
}


.jasp-analysis.unselected:not(.jasp-menu-selected) {

        background-color: #E8E8E8 ;
}

.jasp-analysis.selected:not(.jasp-menu-selected) {

    background-color: white ;
    color:            #000;
}


.chart > g > rect { fill: #C9C682 }


.jasp-collection-image {

	display: inline-block;
}


.jasp-image-resizer {

	background-color : #BFD9F7 ;
	border: 1px solid #7C95CB ;
	border-radius : 3px ;
}

.jasp-image-resizable {

	border: 2px solid #BFD9F7 ;
	border-radius : 2px ;
}


div.status.running {

  background : url('images/lightTheme/running.gif') no-repeat ;
	visibility: visible ;
}

div.status.waiting {

  background : url('images/lightTheme/waiting.gif') no-repeat ;
	visibility: visible ;
}

div.image-status.running {

  background-image : url('images/lightTheme/running-large.gif') ;
	visibility: visible ;
}

div.image-status.waiting {

  background-image : url('images/lightTheme/waiting-large.png') ;
	visibility: visible ;
}

div.jasp-image-image.no-data {
  background-image: url('images/lightTheme/empty-plot.png') ;
	background-repeat: no-repeat;
	background-size: contain;
}

div.jasp-image-image.no-data.error {
  background-image: linear-gradient(rgba(255,255,255,0.67), rgba(255,255,255,0.67)), url('images/lightTheme/empty-plot.png');
}

.error-state:not(.jasp-analysis), .jasp-analysis.error-state>.jasp-analysis {
	color: silver;
}


.fatalError.error-message-box {
	border-width: 3px;
	border-style: double;
}

.stack-trace-arrow {

  background: center no-repeat url("images/lightTheme/expand.png") ;
  background-size: 70% ;
}


#intro {
	border: 3px dashed #3CAAE7 ;
	border-radius: 10px ;
	color: #3CAAE7 ;

}

.jasp-resize {
    background: top left no-repeat url(images/lightTheme/resizer.png);
}

.jasp-closer {
    background: top left no-repeat url(images/lightTheme/closer.png);
    background-size: 16px;
}


.jasp-menu {
    background: center no-repeat url(images/lightTheme/menu-indicator.svg);
    background-size: 70% ;
}

.jasp-collapsed .jasp-menu {
    background: center no-repeat url(images/lightTheme/expand.png);
    background-size: 70% ;
}


.toolbar-editing {
	border-top: 1px solid rgb(205, 205, 205);
	border-bottom: 1px solid rgb(205, 205, 205) ;
}

.jasp-menu-selected {
	background-color : #BFD9F7 ;
}

.jasp-notes {
  border-bottom:    1px solid rgb(205, 205, 205) ;
  border-radius :   0 ;
  color:            #000;
}

.jasp-notes-border {
	border-top:       1px solid rgb(205, 205, 205);
}



.jasp-ghost-text {
	color: rgb(214, 214, 214);
}


.jasp-progressbar-label {
	color: gray;
}


/* Track */
::-webkit-scrollbar-track {
 background:    #FFFFFF;
 border-style:  solid;
 border-width:  1px;
 border-color:  #9A9A9A
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border: solid 2px transparent;
  box-shadow: inset 0 0 0 10px #cacaca;
}


::-webkit-scrollbar-thumb:hover {
 box-shadow: inset 0 0 0 10px #97C4F2;
}


/* Custom values */
.ql-container.ql-snow {
  /* border: 1px solid #ccc; */
  background-color: #f5f6f6
}
