export(setPkgOption)
export(viewPkgOptions)
export(run)
export(view)
export(analysisOptions)
export(testAnalysis)
export(testAll)
export(manageTestPlots)
export(makeTestTable)
export(approxMatch)
export(lintAnalysis)
export(lintAll)
export(styleAnalysis)
export(develop)
export(addTestDependency)
S3method(print, jaspLint)
