[Desktop Entry]
Name=JASP
Comment=Statistical analysis package
Keywords=statistics;data
Exec=org.jasp.JASP %f
Terminal=false
Type=Application
MimeType=application/jasp
StartupWMClass=org.jasp.JASP
StartupNotify=true
Icon=org.jasp.JASP
