Source: jasp
Maintainer: jasp-uva <b.boutin@uva.nl>
Section: science
Priority: optional
Standards-Version: 3.9.6
Build-Depends: libboost-dev, r-base-core, r-cran-rcpp, r-cran-rinside, qt5-default, libqt5widgets5, libqt5webkit5-dev, libqt5svg5-dev, qt5-qmake, libarchive-dev, libboost-filesystem-dev, libboost-system-dev, debhelper (>= 9)

Package: jasp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, r-base-core, r-cran-rcpp, r-cran-rinside, r-cran-bayesfactor, r-cran-lme4, r-cran-afex, r-cran-car, r-cran-effects, r-cran-logspline, r-cran-lsmeans, r-cran-plotrix, r-cran-rjson, r-cran-vcd, r-cran-vcdextra, r-cran-ggplot2, r-cran-hypergeo, libqt5webkit5, libqt5svg5
Description: JASP!
