[Desktop Entry]
Name=JASP
Comment=Statistical analysis package
Keywords=statistics;data
Exec=JASP %f
Terminal=false
Type=Application
MimeType=application/jasp
StartupWMClass=JASP
StartupNotify=true
Icon=/usr/lib/JASP/Resources/jasp.svg
