export(testTransposedTableFunc)
export(testFootnotesTableFunc)
export(testStateFunc)
export(testHtmlFunc)
export(testContainerFunc)
export(testPlotStatus)
export(testEncodingFunc)
export(customContrasts)
export(testSaveLoadButton)
  import('svglite');
  import('stringi');
