html 
{
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  font-size: 14px;
  color: #EEE;
  background-color: #333;
  font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  word-break: break-word;
}

h1
{
	font-size: 175% ; ;
}

h2
{
	font-size: 150% ;
}

h3
{
	font-size: 125% ;
}

body h1,
body h2,
body h3 
{
  margin-top: 0;
  margin-bottom: 0;
}

details
{
  background-color: #111;
  padding:          5px;
  border-radius:    6px;
  border:           3px groove #444;
  margin:           5px;
}

img
{
  display:      block;
  margin-left:  auto;
  margin-right: auto;
  /*width: 100%;*/
  max-width:    100%;
  filter:       invert(1);
}

li
{
  padding: 4px
}

pre code
{
  display: block;
}

body code
{
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgb(125 135 150 / 50%);
  border-radius: 5px;
}

body code::before,
body code::after 
{
  letter-spacing: -0.2em;
  content: "\00a0";
}

a
{
  color: lightBlue
}
