
body
{
	font-size: 85% ;
	font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
	color: #333333;
	background-color: #FAFAFA
}

h1
{
	font-size: 130% ;
}

h2
{
	font-size: 115% ;
}

h3
{
	font-size: 100% ;
}