exportPattern("^[[:alpha:]]+")
export(`%|%`)
export('.fromRCPP')
export('.readDataSetToEnd')
export('.readDataSetHeader')
export('.unv')
export('.v')
export('.clean')
export('.retrieveState')
export('.hasErrors')
