exportPattern("^[[:alpha:]]+")
export(`%|%`)
export('.fromRCPP')
export('.readDataSetToEnd')
export('.readDataSetHeader')
export('.unv')
export('.v')
export('.clean')
export('.retrieveState')
export('.hasErrors')
export('.posteriorSummaryGroupMean')
export('.indices')
export('.plotGroupMeanBayesOneSampleTtest')
export('.plot2GroupMeansBayesIndTtest')
export('.ttestCheckErrors')
export('.ttestBayesianReadData')
export('.ttestReadData')
export('.extractErrorMessage')
export('.integrand_t')
export('.posterior_t')
export('.posterior_normal')
export('.ttestBayesianGetErrorsPerVariable')
export('.dprior')
export('.qt.shiftedT')
export('.qShiftedT')
export('.likelihoodShiftedT')
export('.dposteriorShiftedT')
export('.posteriorSummaryGroupMean')
export('.setSeedJASP')
export('.dposterior_informative')
export('.dprior_informative')
export('.ciPlusMedian_normal')
export('.quantile_t')
export('.ciPlusMedian_t')
export('.quantile_normal')
export('.dtss')
