<?xml version="1.0" encoding="UTF-8"?>
<!-- Add xmlns:util namespace definition to be able to use stuff from WixUtilExtension dll-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include $(sys.CURRENTDIR)jasp.wxi ?>
    <?define VersionNumber="$(var.MajorVersion).$(var.MinorVersion).$(var.Revision).$(var.BuildVersion)" ?>
  
    <?if $(sys.BUILDARCH)="x86"?>
        <?define Program_Files="ProgramFilesFolder"?>
    <?elseif $(sys.BUILDARCH)="x64"?>
        <?define Program_Files="ProgramFiles64Folder"?>
    <?else?>
        <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
    <?endif?>

  <?define ExeProcessName="JASP.exe" ?>
  <?define UpgradeCode="32d502cb-4752-4861-bc86-b8b4252a7a68" ?>
  <?define ApplicationName="JASP $(var.VersionNumber)" ?>

  <Product Id="*" Name="$(var.ApplicationName)" Language="1033" Version="$(var.VersionNumber)" Manufacturer="Universiteit van Amsterdam" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high"/>    
    
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion OnlyDetect="yes"  Minimum="$(var.VersionNumber)"  IncludeMinimum="no"                                                         Property="NEWER_VERSION_FOUND" />
      <UpgradeVersion                   Minimum="$(var.VersionNumber)"  IncludeMinimum="yes" Maximum="$(var.VersionNumber)" IncludeMaximum="yes"    Property="SAME_VERSION_FOUND" />
      <UpgradeVersion                   Minimum="0.0.0.0"               IncludeMinimum="yes" Maximum="$(var.VersionNumber)" IncludeMaximum="no"     Property="OLDER_VERSION_FOUND" />
    </Upgrade>    

    <DirectoryRef Id="TARGETDIR">
        <Merge Id="VCRedist" SourceFile="$(var.RedistMergeModule)" DiskId="1" Language="0"/>
    </DirectoryRef>

    <Condition Message="JASP only supports Windows 7 and newer!">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <CustomAction Id="NewerVersionFound" Error="A newer version of JASP is already installed!" />
    <InstallExecuteSequence>
        <Custom Action="NewerVersionFound" After="FindRelatedProducts">   <![CDATA[NEWER_VERSION_FOUND]]> </Custom>
      <RemoveExistingProducts After="InstallInitialize"/>
      <Custom Action="WixCloseApplications" Before="InstallInitialize" />
    </InstallExecuteSequence>

    <util:CloseApplication Id="CloseJASP" CloseMessage="no" Description="Before you can install JASP you must close any running instances of JASP." 
                           ElevatedCloseMessage="no" RebootPrompt="no" Target="$(var.ExeProcessName)" />
    <UIRef Id="WixUI_InstallDir" />

    <Icon       Id="JASP.ico" SourceFile="$(var.JASP_DESKTOP_DIR)\JASP-Desktop\icon.ico" />
    <Property   Id="ARPPRODUCTICON" Value="JASP.ico" />

    <WixVariable Id="WixUIDialogBmp" Value="$(var.JASP_DESKTOP_DIR)\Tools\wix\installerBackground.png" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.JASP_DESKTOP_DIR)\Tools\wix\installerBanner.png" />

    <?define Description="A fresh way to do statistics"?>

    <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="$(var.Program_Files)">
            <Directory Id="INSTALLLOCATION" Name="JASP">
                <!-- files added in JASPFilesFragment.wxs -->
            </Directory>
        </Directory>

        <Directory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuSubfolder" Name="JASP">
                <Component Id="ApplicationShortcut" Guid="553ab265-b401-48f6-a080-752abbed57c8"> 
                    
                    <RegistryValue Root="HKCU" Key="Software\JASP\JASP" Name="installed" Type="string" Value="JASP is installed here ;)"/> <!-- The registery key is necessary to make sure that we can check if the shortcut is installed or not -->
                    
                    <Shortcut Id="ApplicationStartMenuShortcut" Name="JASP $(var.VersionNumber)" Description="$(var.Description)" Target="[INSTALLLOCATION]JASP.exe" WorkingDirectory="INSTALLLOCATION"/>
                    
                    <RemoveFolder Id="CleanUpShortCut"      Directory="INSTALLLOCATION" On="uninstall"/> 
                    <RemoveFolder Id="ProgramMenuSubfolder"                             On="uninstall"/> 
                </Component>

                <Component Id="FileTypeRegistration" Guid="c3591efa-fe71-416e-b5b8-6df0098f03c4">

                       <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
                    <!-- <RegistryValue Root="HKCU" Key="SOFTWARE\JASP\Capabilities"                     Name="ApplicationDescription"   Value="$(var.Description)"                                      Type="string" />
                    <RegistryValue Root="HKCU" Key="SOFTWARE\JASP\Capabilities"                     Name="ApplicationIcon"          Value="[INSTALLLOCATION]JASP.exe,0"                             Type="string" />
                    <RegistryValue Root="HKCU" Key="SOFTWARE\JASP\Capabilities"                     Name="ApplicationName"          Value="$(var.ApplicationName)"                                  Type="string" />
                    <RegistryValue Root="HKCU" Key="SOFTWARE\JASP\Capabilities\DefaultIcon"                                         Value="[INSTALLLOCATION]JASP.exe,1"                             Type="string" />
                    <RegistryValue Root="HKCU" Key="SOFTWARE\JASP\Capabilities\FileAssociations"    Name=".jasp"                    Value="JASP.Document"                                           Type="string" />
                    <RegistryValue Root="HKCU" Key="SOFTWARE\JASP\Capabilities\MIMEAssociations"    Name="application/jasp"         Value="JASP.Document"                                           Type="string" />
                    <RegistryValue Root="HKCU" Key="SOFTWARE\JASP\Capabilities\shell\Open\command"                                  Value="&quot;[INSTALLLOCATION]JASP.exe&quot; &quot;%1&quot;"    Type="string" /> -->
                    <RegistryValue Root="HKCU" Key="SOFTWARE\RegisteredApplications"                Name="JASP"                     Value="SOFTWARE\JASP\Capabilities"                              Type="string" KeyPath="yes"/>



                    <!-- MyApp.Document ProgID -->
                    <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\JASP.Document" Name="FriendlyTypeName" Value="A JASP file, containing analyses and/or data" Type="string"/>
                    <ProgId Id="JASP.Document" Description="A JASP file, containing analyses and/or data">
                        <Extension Id="jasp">
                            <Verb Id="open" Target="&quot;[INSTALLLOCATION]JASP.exe&quot;" Argument="&quot;%1&quot;" />
                            <!--<MIME Advertise="yes" ContentType="application/jasp" Default="yes" />-->
                        </Extension>
                    </ProgId>

                </Component>
            </Directory>
        </Directory>
    </Directory>

    <UI>
        <UIRef Id="WixUI_InstallDir" />

        <!-- Skip license dialog -->
        <Publish    Dialog="WelcomeDlg"
                    Control="Next"
                    Event="NewDialog"
                    Value="InstallDirDlg"
                    Order="2">
            1
        </Publish>
        <Publish    Dialog="InstallDirDlg"
                    Control="Back"
                    Event="NewDialog"
                    Value="WelcomeDlg"
                    Order="2">
            1
        </Publish>
        <Publish    Dialog="ExitDialog"
                    Control="Finish" 
                    Event="DoAction" 
                    Value="LaunchApplication">
            WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
        </Publish>
    </UI>
    
    <Property Id="WIXUI_INSTALLDIR"                     Value="INSTALLLOCATION" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch JASP" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX"     Value="1"/>

    <!-- WIX complains about [INSTALLLOCATION]JASP.exe but it seems to work so you know, whatever. -->
    <Property Id="WixShellExecTarget" Value="[INSTALLLOCATION]JASP.exe" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <!-- Set the components defined in our fragment files that will be used for our feature  -->
    <Feature Id="JASPFeature" Title="JASP" Level="1">
      <ComponentGroupRef Id="JASPFiles" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="FileTypeRegistration" />
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ 14.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist"/>
    </Feature>
  </Product>
</Wix>
