[Desktop Entry]
Name=JASP
Comment=Statistical analysis package
Keywords=statistics;data
Exec=jasp %f
Terminal=false
Type=Application
MimeType=application/jasp
StartupWMClass=jasp
StartupNotify=true
Icon=/usr/lib/JASP/Resources/jasp.svg
