@media only print
{
    .jasp-toolbar h1, .jasp-toolbar h2, .jasp-toolbar h3, .jasp-toolbar h4, .jasp-toolbar h5, .jasp-toolbar h6, .jasp-toolbar div , .jasp-toolbar span
	                                { display:				block !important;	}
	.toolbar-button					{ display:				none  !important;	}
	body							{ float:				none  !important;	}

    .jasp-toolbar					{ page-break-after:		avoid;	}
	.jasp-analysis					{ page-break-after:		always; }
	.jasp-collection				{ page-break-inside:	avoid;	}
	.hidden-collection				{ page-break-inside:	auto;	}
	.object-body					{ page-break-inside:	auto;	}
	.object-body .hidden-collection	{ page-break-inside:	auto;	}
	.jasp-image						{ page-break-inside:	avoid;	}
	.jasp-notes						{ page-break-inside:	avoid;	}
	.jasp-table-primitive			{ page-break-inside:	avoid;	}
}

@page { margin:		1cm; }
