/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    font-size: 16px; /*set rem size*/
}

body {
  font-weight: 300;
  font-family: Lato,sans-serif;
  background-color: #8dc448;
}

a {
  color: #03C4EB;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}


p {
  margin: 0 0 0.65em; 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}


/*--------------------------------------------------------------
# Box
--------------------------------------------------------------*/

#about-box {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 20rem;
    min-width: 36rem;
    font-weight: 300;
    font-family: Lato, sans-serif;
    background-color: #8dc448;
}

/*--------------------------------------------------------------
# Top wave
--------------------------------------------------------------*/

#top-about {
	position: relative;
	padding-top: 4px;
	padding-bottom: 100px;
	background-image: url('../img/jasp-wave-down-blue-120.svg');
	background-repeat: repeat-x;
	background-position: bottom center;
	background-position: calc(50% + 100px) bottom;
	background-color: white;
}

/*--------------------------------------------------------------
# Logo and version
--------------------------------------------------------------*/
#about-content{
	background-color: white;
}

#logo-version{
    width: 220px;
	padding-left: 50px;
    display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}
.logo{
    margin-bottom: 0.3em;
}

/*--------------------------------------------------------------
# More info
--------------------------------------------------------------*/

.jasp-version {
    display: block;
    margin-left: 64px;
}

#more-info{
    width: 500px;
    display: inline-block;
	padding-left: 50px;
}
.copyright{
    font-size: 1rem;
    margin-bottom: 0.5em;
    display: inline-block;
}
dt{
    display: block;
    float: left;
    clear: both;
    margin-right: 0.5em;
    color: #f99800;
}
.footnote {
    font-size: 0.8rem;
    color: #909092;
}
.btn {
    color: white;
    display: inline-block;
    background-color: #22a1df;
    border-radius: 4px;
    padding: 0.2em 1.2em;
    font-size: 1rem;
}

/*--------------------------------------------------------------
# Bottom wave
--------------------------------------------------------------*/

#bottom-about{
	position: relative;
    min-height: 100px; 
	/*padding-top: 100px;*/
    background-image: url('../img/jasp-wave-up-green-100.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-position: calc(50% + 60px) bottom;
    background-color: white;
}
