
* {
	-webkit-user-select: none;
}

body {
	font-family: sans-serif ;
	margin: 0 ;
	cursor: default;
}

body:not(.windows) {
	font-size: 12px ;
}

body.selected {
	background-color: #E8E8E8 ;
}

h1 {
	font-size: 150% ;
	margin: .5em 0 ;
}

h2 {
	font-size: 125% ;
	margin: .7em 0 .2em ;
}

h3 {
	font-size: 100% ;
	margin: .5em 0 .2em ;
}

table {
	font-style: normal ;
	border-collapse: collapse ;
	margin-bottom: 2em ;
	cursor: default;
}

th {
	vertical-align: bottom ;
	font-weight: normal ;
}

th[colspan="2"] {
	padding-left : 1em ;
	padding-right: 1em ;
}

td.value {
	padding-left : 1em ;
	padding-right: 0 ;
}

td.symbol {
	text-align: left ;
	padding-right: 1em ;
	padding-left: 0 ;
}

td {
	text-align: right ;
	vertical-align: top ;
}

thead tr:nth-child(2) th:not(.separator) {
	min-width: 4em ;
}

th.separator, td.separator {
	padding-left: 0px ;
	padding-right: 0px ;
}

thead tr:first-child th {
	padding: 6px 10px ;
	font-style: bold ;
	text-align: left ;
	padding-left: 0 ;
}

thead th {
	text-align: center;
	white-space: nowrap;
}

tbody th {
	text-align: left;
}

tbody th,
tbody td {

	border-bottom : none ;
	border-top : none;
	white-space: nowrap;
}

thead tr:last-child th:nth-child(1n + 2)
{
	border-top: thin solid ;
}

thead tr:nth-child(2) th
{
	border-top: thin solid ;
}

thead tr:last-child th
{
	border-bottom: thin solid ;
}

tbody tr:last-child th,
tbody tr:last-child td {

	border-bottom: 2px solid ;
}

tbody tr td.new-group-row {

	padding-top: .9em ;
}

tbody tr:nth-last-child(2) td.last-group-row {

	padding-bottom: .8em ;
}

td.text {
	text-align: left ;
}

tfoot td {

	text-align: left;
}

.chart > g > rect { fill: #C9C682 }

svg > text
{
	font-family: sans-serif ;
	font-weight: bold;
	font-size: 120% ;
}

.jasp-image {

	float: left ;
}

.jasp-image {

	border: 2px solid transparent ;
	border-radius : 2px ;
	padding: 0px ;
	position: relative ;
}

.jasp-image-image {

	width:  100% ;
	height: 100% ;
}

.error-state .jasp-image-image {

	opacity: 0.33 ;
}

.jasp-image-loader {

	position: absolute ;
	top : 0 ;
	left: 0 ;
	width: 100% ;
	height: 100% ;
	background-repeat:no-repeat;
	background-position: center center;
	visibility: hidden ;
	z-index: 50 ;
}

.running .jasp-image-loader {

	background-image : url('images/running-large.gif') ;
	visibility: visible ;
}

.waiting .jasp-image-loader {

	background-image : url('images/waiting-large.png') ;
	visibility: visible ;
}

.jasp-image-resizer {

	background-color : #BFD9F7 ;
	border: 1px solid #7C95CB ;
	border-radius : 3px ;
	margin: 0px ;
}

.jasp-image-resizable {

	border: 2px solid #BFD9F7 ;
	border-radius : 2px ;
}

#instructions, .jasp-analysis-inner {

	margin: .7em ;
	padding: 1em ;
	display: inline-block ;
}

.jasp-analysis.unselected .jasp-analysis-inner
{
	background-color: #E8E8E8 ;
}

.jasp-analysis.selected .jasp-analysis-inner
{
	background-color: white ;
}

div.toolbar
{
	padding-left : 1em ;
	display: inline-block ;
}

div.toolbar-button
{
	width: 16px ;
	height: 16px ;
	background-size : 100% ;
	cursor : pointer ;
	display: inline-block ;
	
	margin-left: 3px ;
	border: 1px solid transparent ;
}

div.toolbar-button:active {

	border: 1px solid silver ;
}

div.copy {
	background : url(images/copy.png) no-repeat;
}

div.cite {
	background : url(images/cite.svg) no-repeat;
}

div.status
{
	width: 16px ;
	height: 16px ;
	background-size : 100% ;
	display: inline-block ;
	margin-left : 6px ;
}

div.status.running {

	background : url(images/running.gif) no-repeat ;
}

div.status.waiting {

	background : url(images/waiting.gif) no-repeat ;
}

.error-state {

	color: silver ;
}

.error-message-positioner {

	height: 0px ;
	overflow: visible ;
	position: relative;
	top: 10px ;
	float: left ;
	z-index: 100 ;
}

.jasp-image-holder .error-message-positioner {

	position: absolute ;
	top: 25% ;
}

.error-message-symbol {

	float: left;
	margin-right: .3em;
}

.error-message-box {

	z-index: 100 ;
	padding: 1em ;
	border-radius: .4em ;
	min-width: 200px ;
	max-width: 380px ;
	white-space: normal;
	margin-left: 50px ;
}

.error-message-message {

}

td.squash-left
{
	width: 99% ;
}

#intro {

	padding: 1em 2em ;
	margin: 50px auto ;
	min-width: 300px ;
	max-width: 500px ;
	width: 50% ;
	border: 3px dashed #3CAAE7 ;
	border-radius: 10px ;
	color: #3CAAE7 ;

}
