body {
	font-family: sans-serif ;
	font-size: 12px ;
	margin: 0 ;
	cursor: default;
}

body.selected {
	background-color: #E8E8E8 ;
}

h1 {
	font-size: 150% ;
	margin: .5em ;
}

table {
	font-size: 12px ;
	font-style: normal ;
	border-collapse: collapse ;
	margin-bottom: 2em ;
	/*margin: 2em 2em 4em;*/
}

th {
	vertical-align: bottom ;
	font-weight: normal ;
}

td, th {
	padding: 2px 1em ;
}

td {

	text-align: right ;

	/*border-left: 1px solid black ;
	border-right: 1px solid black ;*/

}

thead tr:first-child th {
	padding: 6px 10px ;
	font-style: bold ;
	text-align: left ;
	padding-left: 0;
}

thead th {
	text-align: center;
}

tbody th {
	text-align: left;
}

tbody th,
tbody td {

	border-bottom : none ;
	border-top : none;
}

/*thead tr:last-child th,
tbody td
{
	border-left : 1px solid black ;
	border-right : 1px solid black ;
}*/

thead tr:last-child th:nth-child(1n + 2)
{
	border-top: thin solid black ;
}

thead tr:nth-child(2) th
{
	border-top: thin solid black ;
}

thead tr:last-child th
{
	border-bottom: thin solid black ;
}

tbody tr:last-child th,
tbody tr:last-child td
{
	border-bottom: 2px solid black ;
}

tfoot td
{
	text-align: left;
}

/*thead tr:nth-child(1n + 2) th:first-child,
tbody tr th:first-of-type,
tbody tr td:first-of-type
{
	border-left: 2px solid black ;
}*/

/*thead tr:nth-child(1n + 2) th:last-child,
thead tr:nth-child(1n + 2) th:first-child,
tbody tr th:last-of-type,
tbody tr td:last-child
{
	border-right: 2px solid black ;
}*/

.chart > g > rect { fill: #C9C682 }

svg > text
{
	font-family: sans-serif ;
	font-weight: bold;
	font-size: 120% ;
}

.jasp-analysis
{
	margin: .7em ;
	padding: 1em ;
}

.jasp-analysis.unselected
{
	background-color: #E8E8E8 ;
}

.jasp-analysis.selected
{
	background-color: white ;
}


/*div > svg
{
	height: 450px ;
}*/


/*.jasp-frequencies-tables-table thead tr:first-child th:before
{
	content: "Frequencies of ";
}*/
