.container
{
    text-align: center;
    width: 100%;
}

#tablegrouper
{
    display: inline-block;
}

.tafel
{
    display: inline-block;
    
}

h1
{
    margin-left: 8pt;
    display: block;
    
    font-size: 28pt;
}

#logo
{
    
    height: 32pt;
    display: inline-block;

}

#tafels
{
    margin-top: 90pt;
}

table
{
    border: 1px solid black;
    vertical-align: top;
    margin: 6px;
}

td
{
    padding: 8px;
}

body
{
    margin: 0px;
    font-family: Arial, Verdana, sans-serif
}

#bovenkant
{
    height: 60pt;
    margin-top: 30pt;
}

#titel
{
    text-align: center;
    display: fixed;
}



#blauw
{
    
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    position: fixed;
    z-index: -3;
}

#groen
{
    
    width: 100%;
    height: auto;

    bottom: 0%;
    position: fixed;
    z-index: -4;
}


  